body{
    font-family: 'Righteous', cursive;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 7%;
}

h1{
    font-size: 55px;
}


         /* -------------Artical Start----------- */


.first{
    display: flex;
    background-color: rgb(247, 248, 245) ;
    border-radius: 15px;
}

.second{
    width: 40%;
    padding-left: 10%;
}

.click{
    text-decoration: none;
    background-color: rgb(31, 31, 207);
    color: white;
    border-radius: 15px;
    padding: 10px 30px;
}

        /*--------------Artical End ---------*/




.center{
    text-align: center;
}




         /*---------- Start Products---------- */


.all-products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}
    
.product{
    background-color: rgb(244, 248, 238);
    border-radius: 15px;
    width: 90%;
    padding: 15px; 
}
    
    
.fa-star{
    color: rgb(202, 195, 195);
    font-size: 15px;
}

.fa-star.filled{
    color: yellow;
    font-size: 15px;
}



           /* ------End Products------- */





           /* Travel With Our Gears start */


.image{
    width: 400px;
    height: 250px;
    border-radius: 10px;
}
.third{
    width: 30%;
    padding-right: 12%;
    
}


            /* Travel With Our Gears finish */
